.header{
    background : #3b5998;
    width : 100%;
    height :140px
}
.logo{
    width:50%;
}
.login{
    width:50%;
}
.logo-text{
    color:white;
    text-decoration: none;
    font-size: 30px;
    padding:10px
}
.label-text{
    color:white
}